<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->

    <title>ChatBox</title>
</head>
<body>
    <main class="main"> 
        
        <aside class="leftAside">
            <div class="details">
                <h3>salut tous les monde</h3>
            </div>
            <div class="content">
                <div class="serveur">
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare"  src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                         
                   <hr>
                   <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>
                    <div class="wrap contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                    </div>
                    <hr>

                               
                    </div>
                    <!-- fin -->

                    <!-- debut salon -->
                <div class="salon">
                   
                        <div class="wrap contact">
                            <div class="text">
                                <div >
                                    <p class="name">salon dev</p>
                                    <small>salut mon free...</small>
                                </div>
                            </div>
                        </div>
                        <div class="wrap contact">
                            <div class="text">
                                <div >
                                    <p class="name">salon python</p>
                                    <small>salut mon free...</small>
                                </div>
                              
                            </div>
                        </div>
                 
                     
        
                                        
                </div>

            </div>
            <br>
        </aside>
        <section class="main-section">
            <header class="header">
                <div>
                    <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                </div>
            </header>
            
            <div class="chat-box">
             
              
            <% messages.forEach(function(message){%>
                <% if(message.Users_id !=user.id){ %>
                    <div class="message-box recue  ">
                        <div>
                          <img class="avatare" src="<%=message.Users.image%>" alt="serveur" />
                        </div>
                        <div class="message-text">
                            <p><%= message.message%></p>
                        </div>
                    </div>
                
                <%} else { %>
                    <div class="message-box envoie ">
                        <div>
                          <img class="avatare" src="<%=message.Users.image%>" alt="serveur" />
                        </div>
                        <div class="message-text">
                            <p><%= message.message%></p>
                        </div>
                    </div>
                
                <%}%>
            
            
            <%})%>
            

                
            </div>
            <div class="message-input">
    
                <form  class="formulaire">
                    <div class="wrap input-box">
                        <input class="input messageEnv" name="messageEnv" id="message" placeholder="Write your message..." cols="30" rows="10">
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <!-- </textarea> -->
                        <button data-id="<%= user._id %>"  class="submit mess" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
            
        </section>
        <aside class="rigthAside">
          <div class="connecte">  
            <% users.forEach(function(User){ %>
                <% if(User._id != user._id) {%>
                    <div class=" contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="/public/images/photoKevin.png" alt="" />
                        <div class="text">
                            <div >
                                <p class="name">kevin voli</p>
                                <small>salut mon free...</small>
                            </div>
                            <div class="temps column">
                                <span class="heur"> 12:45</span>
                                <span class="alert">99</span>
                            </div>
                        </div>
                    </div>
                <% }%>
            <% }) %> 
           
         
     
          </div>
         
        </aside>
    </main>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/logique.js"></script>
<script src="/public/js/socket.js"></script>
<!-- <script src="/public/statlog/js/main.js"></script> -->
<script src="/public/js/message.js"></script>
</body>
</html>