<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->

    <title>ChatBox</title>
</head>
<body>
    <main class="main"> 
        
        <aside class="leftAside">
            <div class="details">
                <div id="profile">
                    <div class="wrap">
                        <img id="profile-img" src="<%=user.image %>" class="online" alt="" />
                        <p><%= user.pseudo%></p>
                        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                        <div id="status-options">
                            <ul>
                                <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                                <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                                <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                                <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                            </ul>
                        </div>
                        <div id="expanded">
                            <label for="facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                            <input name="facebook" type="text" value="mikeross" />
                            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                            <input name="twitter" type="text" value="ross81" />
                             <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                            </label>
                            <button class="deconnection" onclick="deconection('<%=user._id%>')" >deconnection</button>
        
                       
                        </div>
                    </div>
                </div>
                <div class="ajoute">
                    <input data-id="" class="new-ajoute" type="text">
                    <button onclick="newAjoute()" class="new"><span><i class="fa fa-check-square" aria-hidden="true"></i>
                    </span></button>
                    <button><span><i class="fa fa-window-close" aria-hidden="true"></i>
                    </span></button>
                </div>
                <div class="action">
                    <button class="new-salon"><span><i class="fa fa-users" aria-hidden="true"></i></span></button>
                    <button class="new-server"><span><i class="fa fa-server" aria-hidden="true"></span></i>
                    </button>
                    <button class="deconnection"><span><i class="fa fa-power-off" aria-hidden="true"></i>
                    </span></button>
                </div>
                <div class="contener-recherche">
                    <form class="form-recherche" action="">
                        <input class="recherche"  type="text">
                        <input type="hidden">
                        <button><span><i class="fa fa-search" aria-hidden="true"></i>
                        </span></button>
                    </form>
                </div>
            </div>
            <div class="content" id="contacts">
                <div class="serveur" id="serveur">
                    <% serveurs.forEach(function(Serveur){%>                 
                        <div class="wrap contact <%=Serveur.status%>" data-id="<%=Serveur._id%>" data-serveur="<%=Serveur.nom%>">
                            <span class="contact-status" ></span>
                            <img class="avatare" src="<%=Serveur.image%>" alt="serveur" />
                        </div>          
                    <%})%>              
                </div>
                    <!-- fin -->

                    <!-- debut salon -->
                <div class="salon" id="salon">    
            
                </div>

            </div>
            <br>
        </aside>
        <section class="main-section">
            <header class="header">
                <div>
                    <img class="avatare" src="public/images/photoKevin.png" alt="serveur" />
                </div>
            </header>
            
            <div class="chat-box" id="chat-box">
             
              
            <% messages.forEach(function(message){%>
                <% if(message.Users_id !=user.id){ %>
                    <div class="message-box recue  ">
                        <div>
                          <img class="avatare" src="<%=message.Users.image%>" alt="serveur" />
                        </div>
                        <div class="message-text">
                            <p><%= message.message%></p>
                        </div>
                    </div>
                
                <%} else { %>
                    <div class="message-box envoie ">
                        <div>
                          <img class="avatare" src="<%=message.Users.image%>" alt="serveur" />
                        </div>
                        <div class="message-text">
                            <p><%= message.message%></p>
                        </div>
                    </div>
                
                <%}%>
            
            
            <%})%>
            

                
            </div>
            <div class="message-input">
    
                <form  class="formulaire">
                    <div class="wrap input-box">
                        <input class="input messageEnv" name="messageEnv" id="message" placeholder="Write your message..." cols="30" rows="10">
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <!-- </textarea> -->
                        <button data-id="<%= user._id %>"  class="submit mess" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
            
        </section>
        <aside class="rigthAside" >
          <div class="connecte mambre" id="mambre">  
            <% users.forEach(function(User){ %>
                <% if(User._id != user._id) {%>
                    <div class=" contact">
                        <span class="contact-status" ></span>
                        <img class="avatare" src="/public/images/photoKevin.png" alt="" />
                        <div class="text">
                            <div >
                                <p class="name">kevin voli</p>
                                <small>salut mon free...</small>
                            </div>
                            <div class="temps column">
                                <span class="heur"> 12:45</span>
                                <span class="alert">99</span>
                            </div>
                        </div>
                    </div>
                <% }%>
            <% }) %> 
           
         
     
          </div>
         
        </aside>
    </main>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/logique.js"></script>
<script src="/public/js/socket.js"></script>
<script src="/public/js/message.js"></script>
<script src="/public/js/select.js"></script>
<!-- <script src="/public/statlog/js/main.js"></script> -->
</body>
</html>